<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.board-Mapper">

<select id="getBoardList" resultType="board">
SELECT * FROM board order BY updatetime DESC;
</select>

<insert id="boardwrite">
insert into board (category,title,region,choose,object,views,price,content,picture,users,updatetime) 
values(#{category},#{title},null,#{choose},null,#{views},#{price},#{content},null,#{users},now());
</insert>

<select id="getBoardDetail" resultType="board">
SELECT * FROM board where id = #{id};
</select>

<!-- update -->
<update id="viewUpdate">
UPDATE board SET views = views+1 WHERE id = #{id}
</update>
</mapper>